{{ domain | default(':80') }} {
    encode gzip

    handle /api/* {
        reverse_proxy api:3000
    }

    handle /route/* {
        reverse_proxy graphhopper:8989
    }

    handle {
        root * /srv/web
        try_files {path} /index.html
        file_server
    }
}
